
/*ESTRUCTURA PARA LA COMPOSICIÃ“N EN PANTALLA PARA ORDENADORES*/

.spf header{
	position: absolute;
	height: 5em;
	top: 0;
	left: 0;
	right: 0;
}
.spf nav{
}

.spf aside{
	float: left;
	position: absolute;
	width: 16em;
	top: 5em;
	left: 0;
	bottom: 5em;
}
.spf section{
	position: absolute;
	right: 0;
	top: 5em;
	left: 16em;
	bottom: 5em;
}

.spf article{
}
.spf footer{
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	height: 5em;
}